.block{style: "position: relative; top: -15px"}
  .block_content
    #portlets
      %h1{style: "margin-top: 10px"}
        Insurance Calculator
      .clear
      %br
      .portlet
        .portlet-content.nopadding
          %table
            %thead
              %tr
                %th
                %th{style: "width: 440px"} Policy Type
                %th # Beneficiaries
                %th Deposit
                %th Premiums
            %tbody
              %tr
                %td
                  %input{type: "checkbox"}
                %td
                  %select{style: "width: 400px"}
                %td
                  %select{style: "width: 100px"}
                %td
                  £20.20
                %td
                  £20.20
              %tr
                %td
                  %input{type: "checkbox"}
                %td
                  %select{style: "width: 400px"}
                %td
                  %select{style: "width: 100px"}
                %td
                  £20.20
                %td
                  £20.20
              %tr
                %td
                  %input{type: "checkbox"}
                %td
                  %select{style: "width: 400px"}
                %td
                  %select{style: "width: 100px"}
                %td
                  £20.20
                %td
                  £20.20
            %tfooter
              %tr
                %td
                %td
                %td
                %td
                  £45.44
                %td
                  £30.00
        .actions
          %button.blue-button
            %div{style: "width: 150px"}
              Add Policy