#calculator.block{style: "position: relative; top: -15px"}
  .block_content
    #portlets
      %h1{style: "margin-top: 10px"}
        Calculatrice
      .clear
      %br
      .portlet
        .portlet-content.nopadding
          %table
            %thead
              %tr
                %th
                %th{style: "width: 440px"} Type de Couverture
                %th # Bénéficiares
                %th Frais d'activation
                %th Prélèvement
            %tfoot
              %tr
                %td
                %td
                %td
                  %b{style: "float: right"}
                    Total
                %td.joining_fee
                  £0.0
                %td.premium
                  £0.0
            %tbody
        .actions
          %button.blue-button.add
            %div{style: "width: 120px"}
              Ajouter Bénéficiare
          %button.blue-button.reset
            %div{style: "width: 90px"}
              Recommencer

:javascript
  $(function() {
    new App.Views.Calculator({el: "#calculator"});
  })