#calculator.block{style: "position: relative; top: -15px"}
  .block_content
    #portlets
      %h1{style: "margin-top: 10px"}
        Insurance Calculator
      .clear
      %br
      .portlet
        .portlet-content.nopadding
          %table
            %thead
              %tr
                %th
                %th{style: "width: 440px"} Policy Type
                %th # Beneficiaries
                %th Deposit
                %th Premiums
            %tfoot
              %tr
                %td
                %td
                %td
                  %b{style: "float: right"}
                    Total
                %td.deposit
                  £0.0
                %td.premium
                  £0.0
            %tbody
        .actions
          %button.blue-button.add
            %div{style: "width: 100px"}
              Add Policy
          %button.blue-button.reset
            %div{style: "width: 80px"}
              Reset

:javascript
  $(function() {
    new App.Views.Calculator({el: "#calculator"});
  })