.block
  .block_content
    #portlets
      %span{style: "float: right; margin-right: 30px"}
        = image_tag "logo.png", style: "width: 50px"
      .clear
      .portlet{style: "border-top: 0; border-left: 0; border-right: 0; border-bottom: 0"}
        .portlet-content.nopadding
          %table{style: "width: 792px"}
            %thead
              %tr
                %th
                %th{style: "width: 300px"} Type de Plan
                %th # Bénéficiares
                %th Frais d'activation
                %th Prélèvement
            %tfoot
              %tr
                %td
                %td
                %td
                  %b{style: "float: right"}
                    Total
                %td.joining_fee
                  £0.0
                %td.premium
                  £0.0
            %tbody
        .actions
          %button.blue-button.add
            %div{style: "width: 120px"}
              Ajouter Bénéficiare
          %button.blue-button.reset
            %div{style: "width: 90px"}
              Recommencer

:javascript
  $(function() {
    new App.Views.Calculator({el: ".portlet"});
  })